
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,600&family=Open+Sans&family=Roboto:wght@300&display=swap');

@font-face {
    font-family: CustomFont2;
    src: url('CustomFont2.ttf');
}
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: open Sans, sans-serif;
    font-weight: 300; 
    color: darkslategray;
}

/* headings and logo */
h1, h2 {
    font-family: open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: palevioletred;
}
#logo {
    float: left;
    font-size: 300%;
    margin-right: 120px;
    margin-left: 25px;
}

/* navigation links */

#menu {
    font-size: 90%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 110px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-left: 0;
    margin-right: 25px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid royalblue;
}
.fun {
    border-bottom: 1px solid royalblue;
}

/* hero-image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/herophoto.jpg) no-repeat center center;

    /* hero zoom animation loading */

animation-name: hero-zoom;
animation-duration: 6s;
animation-fill-mode: forwards;

}

/* hero image and cover text */

#cover-text, #cover-text h2 {
                color: aliceblue;        
}

#hero-enlarge {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}



/* css hero zoom animation*/

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: open sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(213, 57, 137, .7);
    bottom: 30px;
    right: 150px;

    position: absolute;
}
/* experience mantra */

#mantra-ex {
    height: 600px;
}
#left-side {
    padding-top: 30px;
    width: 33%;
    float: left;
    
}
#right-side {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}
#center-ni {
    width: 33%;
    margin: 0 auto;
    
}

.left-side-heading {
    width: 60%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.right-side-heading {
    width: 60%;
    float: left;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}
#experience {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}
#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: goldenrod;
    border-radius: 50%;
    margin: 0 auto;
}
#circle-cover-bg  {
    background: url(../images/momo.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}
#city {
    background-image: url(../images/dublin-city.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}
#city div {
    color: aliceblue;
    background-color: rgba(0, 0, 0, .6);
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
    line-height: 30px;
}
footer {
    height: 140px;
}
.social-media {
    text-align: center;
}
.social-media > li {
      display: inline;      
}
.social-media i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: blueviolet;
}
h3 {
    text-align: center;
    margin: 0 auto;
}
h4 {
    text-align: center;
}
/* Menu Section */
#food {
    text-align: center;
    clear: both;
    line-height: 40px;
    margin-bottom: 40px;
}
#food li {
    line-height: 20px;
    font-family: open sans, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
h2 {
    padding: 20px;
}
#food p {
    font-style: italic;
}

/* gallary */
#foto {
    clear: both;
    line-height: normal;
    column-count: 3;
    column-gap: 0;
    margin-bottom: 20px;
    background: rgb(139, 139, 136);
    padding: 10px;
}

#foto > img {
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    padding: 10px;
}

/* media queries */
@media screen and (max-width: 1200px) {
    #mantra-ex {
        width: 65%;
        height: 1200px;
        margin:0 auto;
    }

    #experience {
        padding: 30px 0;
        margin: 0;
    }

    #left-side, #right-side {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-ni {
        float: left;
        clear: both;
        width: 100%;
        padding: 0;
    }

    #city > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }
}

/* for media screen sizes from 950 px wide and down */
@media screen and (max-width: 950px) {
    #menu {
        float: left;
        clear: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    #cover-text {
        left: 0;
    }
    #mantra-ex {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }
    .left-side-heading, .right-side-heading {
        width: inherit;
    }
    .left-side-heading h2, .right-side-heading h2 {
        width: 100%;
        text-align: center;
    }
    .left-side-heading p, .right-side-heading p {
        text-align: center;
        padding: 0 20px;
    }
    #foto {
        column-count: 2;
    }
}
/* form */
.form-section {
    clear: left;
    background: url(../images/main\ rest.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}
.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}
.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.text-input:hover {
    border-color: #f16c6b;
}
.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}
.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}