
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: open Sans, sans-serif;
    font-weight: 300; 
}