
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: open Sans, sans-serif;
    font-weight: 300; 
    color: darkslategray;
}

/* headings and logo */
h1, h2 {
    font-family: open Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: palevioletred;
}
#logo {
    float: right;
    font-size: 300%;
    margin-right: 120px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 110px;
}
#menu li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid royalblue;
}
.fun {
    border-bottom: 1px solid royalblue;
}

/* hero-image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center center;

    /* hero zoom animation loading */

animation-name: hero-zoom;
animation-duration: 6s;
animation-fill-mode: forwards;

}

/* hero image and cover text */

#cover-text, #cover-text h2 {
                color: aliceblue;        
}

#hero-enlarge {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}



/* css hero zoom animation*/

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: open sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(213, 57, 137, .7);
    bottom: 30px;
    right: 150px;

    position: absolute;
}
/* experience mantra */

#mantra-ex {
    height: 600px;
}
#left-side {
    padding-top: 30px;
    width: 33%;
    float: left;
    
}
#right-side {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}
#center-ni {
    width: 33%;
    margin: 0 auto;
    
}

.left-side-heading {
    width: 60%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.right-side-heading {
    width: 60%;
    float: left;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}
#experience {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}
#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: goldenrod;
    border-radius: 50%;
    margin: 0 auto;
}
#circle-cover-bg  {
    background: url(../images/momo.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}